<div class=" text-dark bgclass">

<!-- online mode  computer mode   pass pass -->
<!-- logo image -->
<div class="logo-tis-game-list text-center">
    <h3 class="logo-img-tis"><i class="fa fa-gamepad"></i> <br> I M O g </h3>
</div>


 <div class="bg-primary  mode1"> online mode </div>
 <!-- will have random multiplayer / friends multplayer -->
<div class="bg-primary  mode2"> vs computer</div>
 <div class="bg-primary  mode3"> pass pass </div>

 <div class="logo-tis-game-list text-center ludo-icon">
    <h3 class="logo-img-tis"> L U D O </h3>
</div>




</div>


