.mode1 {
    border: 10px solid #ffff0000;
    border-radius: 20px;
    height: 90px;
    width: 160px;
    margin: auto;
    margin-top: 80px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: blue;
    background: linear-gradient(37deg, #000000 34%, #ec1818 100%);
    box-shadow: 3px 3px 13px 5px #312f08;
    font-family: 'Gluten', cursive;
}

.mode3 {
    border: 10px solid #ffff0000;
    border-radius: 20px;
    height: 90px;
    width: 160px;
    margin: auto;
    margin-top: 40px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: rgb(16, 16, 218);
    background: linear-gradient(37deg, #000000 34%, #ec1818 100%);
    box-shadow: 3px 3px 13px 5px #08310d;
    font-family: 'Gluten', cursive;
}

.mode2 {
    border: 10px solid #ffff0000;
    border-radius: 20px;
    height: 90px;
    width: 160px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background: rgb(16, 16, 218);
    background: linear-gradient(37deg, #000000 34%, #ec1818 100%);
    box-shadow: 3px 3px 13px 5px #090831;
    font-family: 'Gluten', cursive;
}

.mode2::after {
    border-radius: 20px;
}

.mode2::before {
    border-radius: 20px;
}

.logo-img-tis {
    font-size: 50px;
    font-family: 'Monoton', cursive;
    animation-name: xample;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    margin-bottom: 100px;
}

@keyframes xample {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 255, 34), 0 0 33px rgb(0, 255, 34), 0 0 10px rgb(123, 255, 0), 0 0 0px rgb(0, 255, 21), 0 0 2px rgb(0, 255, 0);
    }
    100% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 4, 255), 0 0 33px rgb(47, 0, 255), 0 0 10px rgb(174, 0, 255), 0 0 0px rgb(38, 0, 255), 0 0 2px rgb(17, 0, 255);
    }
}

.ludo-icon {
    margin: auto;
    margin-top: 70px;
}

@keyframes xamples {
    0% {
        box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    50% {
        box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 255, 34), 0 0 33px rgb(0, 255, 34), 0 0 10px rgb(123, 255, 0), 0 0 0px rgb(0, 255, 21), 0 0 2px rgb(0, 255, 0);
    }
    100% {
        box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 4, 255), 0 0 33px rgb(47, 0, 255), 0 0 10px rgb(174, 0, 255), 0 0 0px rgb(38, 0, 255), 0 0 2px rgb(17, 0, 255);
    }
}