<!-- Random / Friend Listing -->
<div *ngIf="showLudoRandomandFrnds" style="background-image: url('assets/background/ludo-back.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;" class=" text-dark bgclass">
    <div class="text-center">
        <div class="text-center video-card">
            <video class="pull mx-auto" src="assets/card/onlinebgludofinals.mp4" autoplay loop></video>
            <p class="card-text">
                Random Player
            </p>
        </div>
    </div>
    <div class="push">
        play wth friends
    </div>
    <div class="logo-tis-game-list text-center ludo-icon">
        <h3 class="logo-img-tis"> I M O G </h3>
    </div>
</div>


<!-- Edit in below div for code creation -->
<div>
    <!-- Edit here for Code creation -->
</div>