.pull {
    display: block;
    background: rgb(16, 16, 218);
    border-radius: 20px;
    border: 2px solid chartreuse;
    width: 164px;
    color: darksalmon;
    border: 8px solid grey;
}

.push {
    border: 10px solid #ffff0000;
    display: flex;
    justify-content: center;
    background: rgb(16, 16, 218);
    background: linear-gradient(37deg, #000000 34%, #ec1818 100%);
    box-shadow: 3px 3px 13px 5px #090831;
    font-family: 'Gluten', cursive;
    animation-name: xample;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    box-shadow: cadetblue red yellow;
    background-color: antiquewhite;
    border-radius: 20px;
    border: 2px solid chartreuse;
    height: 90px;
    width: 160px;
    margin: auto;
    margin-top: 40px;
    color: darksalmon;
}

.video-card {
    width: 164px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 200px;
    box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
}

.logo-img-tis {
    font-size: 50px;
    font-family: 'Monoton', cursive;
    animation-name: xample;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    margin-bottom: 50px;
    margin-top: 220px;
}

@keyframes xample {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
        box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 255, 34), 0 0 33px rgb(0, 255, 34), 0 0 10px rgb(123, 255, 0), 0 0 0px rgb(0, 255, 21), 0 0 2px rgb(0, 255, 0);
        box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    100% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 4, 255), 0 0 33px rgb(47, 0, 255), 0 0 10px rgb(174, 0, 255), 0 0 0px rgb(38, 0, 255), 0 0 2px rgb(17, 0, 255);
        box-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
}

.card-text {
    border: 8px solid grey;
    display: inline-block;
    width: 164px;
    border-radius: 20px;
    margin-top: -30px;
    background-color: grey;
    color: white;
    font-family: 'Gluten', cursive;
    padding-top: 22px;
    padding-bottom: 2px;
}

// yha pe code for create and join
.createandjoin-button {
    display: flex;
    width: 200px;
    margin-top: 90px;
}

.join-button {
    margin-left: 60px;
}

.coin-selection-box {
    padding: 2px;
    width: 178px;
    border: 2px dotted rgb(233, 227, 227);
    margin-top: 20px;
    background-color: darksalmon;
    border-radius: 20px;
    animation-name: xampled;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
}

.coin-box {
    display: inline-block;
    background-color: red;
    color: whitesmoke;
    margin-top: 2px;
    margin-left: 8px;
    font-size: 20px;
    border-radius: 2px;
    animation-name: xampled;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
}

.playgame {
    background-color: red;
    height: 35px inline-block;
    width: 80px inline-block;
    border: 2px;
    border-radius: 10px;
    margin: auto;
    font-size: 20px;
    margin-bottom: 150px;
}

.logo-img-ludo {
    // font-size: 30px;
    font-family: 'Monoton', cursive;
    animation-name: xampled;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    // margin-bottom: 100px;
}

@keyframes xampled {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 255, 34), 0 0 33px rgb(0, 255, 34), 0 0 10px rgb(123, 255, 0), 0 0 0px rgb(0, 255, 21), 0 0 2px rgb(0, 255, 0);
    }
    100% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 4, 255), 0 0 33px rgb(47, 0, 255), 0 0 10px rgb(174, 0, 255), 0 0 0px rgb(38, 0, 255), 0 0 2px rgb(17, 0, 255);
    }
}

.logo-img-imog {
    font-size: 50px;
    font-family: 'Monoton', cursive;
    animation-name: xamplec;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    margin-bottom: 20px;
}

@keyframes xamplec {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 255, 34), 0 0 33px rgb(0, 255, 34), 0 0 10px rgb(123, 255, 0), 0 0 0px rgb(0, 255, 21), 0 0 2px rgb(0, 255, 0);
    }
    100% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 4, 255), 0 0 33px rgb(47, 0, 255), 0 0 10px rgb(174, 0, 255), 0 0 0px rgb(38, 0, 255), 0 0 2px rgb(17, 0, 255);
    }
}

.creategame-button {
    width: 170px;
    height: 90px;
    border-radius: 15px solid red;
    border: 3px;
    margin-top: 40px;
}

.codeinsert {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 170px;
    height: 90px;
    margin-top: 240px;
}

.player-show {
    border: 2px solid white;
    border-radius: 10px;
    width: 70px;
    height: 45px;
    margin-left: 6px;
    display: inline-block;
}

.player-show-user {
    border: 2px solid white;
    border-radius: 10px;
    width: 70px;
    height: 45px;
}

.player-show1 {
    margin-bottom: 190px;
}
.entercode{
    width: 60px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid red;
}
.ec-player-profie{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid red;
}
