.logo-img-imog {
    margin: auto;
    font-size: 50px;
    font-family: 'Monoton', cursive;
    animation-name: xamplec;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    margin-bottom: 20px;
}

@keyframes xamplec {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
    }
    50% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 255, 34), 0 0 33px rgb(0, 255, 34), 0 0 10px rgb(123, 255, 0), 0 0 0px rgb(0, 255, 21), 0 0 2px rgb(0, 255, 0);
    }
    100% {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px rgb(0, 4, 255), 0 0 33px rgb(47, 0, 255), 0 0 10px rgb(174, 0, 255), 0 0 0px rgb(38, 0, 255), 0 0 2px rgb(17, 0, 255);
    }
}

.setting_music{
    height: 88px;
    width: 151px;
    margin: auto;
    margin-top: 30px;
    border: 5px solid rgb(235, 80, 80);
    border-style: ridge;
    border-radius: 25px;
    background-color: rgb(141, 1, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: blue;
    background: linear-gradient(37deg, #000000 34%,#ec1818  100%);
    box-shadow: 3px 3px 13px 5px #fce2e3;
    font-family: 'Gluten', cursive;
}

.setting_aboutus{
    height: 88px;
    width: 151px;
    margin: auto;
    margin-top: 30px;
    border: 5px solid rgb(235, 80, 80);
    border-style: ridge;
    border-radius: 25px;
    background-color: rgb(141, 1, 1);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: blue;
    background: linear-gradient(37deg, #000000 34%,#ec1818  100%);
    box-shadow: 3px 3px 13px 5px #fce2e3;
    font-family: 'Gluten', cursive;

    }
    .setting_customersupport{
        height: 88px;
        width: 151px;
        margin: auto;
        margin-top: 30px;
        border: 5px solid rgb(235, 80, 80);
        border-style: ridge;
        border-radius: 25px;
        background-color: rgb(141, 1, 1);
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        background-color: blue;
        background: linear-gradient(37deg, #000000 34%,#ec1818  100%);
        box-shadow: 3px 3px 13px 5px #fce2e3;
        font-family: 'Gluten', cursive;
}
        .setting_tandc{
            height: 88px;
            width: 151px;
            margin: auto;
            margin-top: 30px;
            border: 5px solid rgb(235, 80, 80);
            border-style: ridge;
            border-radius: 25px;
            background-color: rgb(141, 1, 1);
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            background-color: blue;
            background: linear-gradient(37deg, #000000 34%,#ec1818  100%);
            box-shadow: 3px 3px 13px 5px #fce2e3;
            font-family: 'Gluten', cursive;
           }
           