<div class="grid-container" style="background-image: url('assets/background/rmcs.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; height: 800px;">

<div *ngIf="showcodeselection">
<div>
<button (click)="createcodeshow()" class="btn btn-success rjms-create">
    Create code
</button> </div>
<br>
<div>
<button (click)="joincodeshow()" class="btn btn-success rjms-join">
    Join code
</button> </div>


</div>

<div *ngIf="showcodecreate">


    <div class="rmcs-create-show-gameid">
        {{gameid}}
    </div>
    <!-- adding a div -->
    <div class="rmcs-create-users3">
<div class="rmcs-create-userid">
       
       User1: {{user1}}
    
</div>

<div class="rmcs-create-userid">
      User2:  {{user2}}
    </div>
<div class="rmcs-create-userid">
    
      User3:  {{user3}}
    </div>
</div>
    <div class="rmcs-create-main-userid">
      User4:  {{user4}}
</div>

    <button class="btn btn-success">
        start game
    </button>
    
    
</div>

<div *ngIf="showcodejoinafter">

    <div class="rmcs-join-show-gameid">
        {{gameid}}
    </div>
    <div class="rmcs-join-users3">
    <div class="rmcs-join-userid">
       User1: {{user1}}
    </div>
    <div class="rmcs-join-userid">
      User2:  {{user2}}
    </div>
    <div class="rmcs-join-userid">
      User3:  {{user3}}
    </div>
    </div>
      <div class="rmcs-join-main-userid">
      User4:  {{user4}}
    </div>
    <!-- <button class="btn btn-success">
        start game
    </button> -->
    
    
</div>
<div *ngIf="showcodejoin">
     <div class="showcodejoin">
    <input class="my-4 mx-3" type="text" class="form-control" name="model" [(ngModel)]="gameid">
</div>
    <button (click)="showId()" class="btn btn-success" style="margin: auto; margin-top: 10px; margin-left: 127px;">
        start game
    </button>
    
    
</div>
    





<div *ngIf="startGame">

    <!-- navbar -->
    <div style="color: white; margin-top: 10px;">
        <h1 class="text-center" style="font-family: 'Permanent Marker', cursive; font-size: 25px;">Raja Mantri Chor Sipahi
        </h1>
    </div>
    <!-- user 1 -->
    <div class="user-1">
        user 1
    </div>
    <!-- user 2 -->
    <div class="user-2">
        user 2
    </div>


    <!-- center roller -->
    <div *ngIf="yesRoll" class="chit-roll">
        roll
    </div>
    <div *ngIf="notRoll">
        <div (click)="roll()" class="chit-roll_no">
            roll
        </div>
    </div>
    <div *ngIf="doneRoll" class="chit-roll_no">
        roll
    </div>
    <div *ngIf="throwChit">
        <div class="chit-1"><i class="fa fa-envelope"></i>
        </div>
        <div class="chit-2"><i class="fa fa-envelope"></i>
        </div>
        <div (click)="chitopen()" class="chit-3"><i class="fa fa-envelope"></i>
        </div>
        <div class="chit-4 "><i class="fa fa-envelope"></i>
        </div>
    </div>

    <!-- user 3 -->
    <div class="user-3">
        user 3
    </div>
    <!-- user 4 -->
    <div class="user-4">
        user 4
    </div>

    <!-- Chit Paper -->
    <div *ngIf="chittoggle" class="chitpaper-tis" style="background-image: url('assets/background/tictactoe-back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;">
        <div (click)="chitopen()" style="color: black; margin-top: 4px; margin-left: 10px; font-size: 18px; display: inline-block;">
            <i class="fa fa-times"></i>
        </div>

    </div>



    <!-- Score table  -->

    <div *ngIf="showOPtion" class="score-rmcs" style="background-image: url('assets/background/tictactoe-back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;">


    </div>
    <div style="
    width: 100%;
    position: fixed;
    top: -13px;
    text-align: center;">
        <i (click)="scoreopen()" class="fa fa-chevron-down" style="width: 20%; background-color: black; line-height: 1.5; border-radius: 10px; padding-top: 11px;"></i>
    </div>
</div>



</div>