.neonText {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    // background-color: rgb(218, 45, 22);
    box-shadow: 0 0 7px #fff, 0 0 1px #fff, 0 0 4px #fff, 0 0 7px #f00, 0 0 18px #f00, 0 0 0px #f09, 0 0 0px #f00, 0 0 0px #f00;
}

.logo-img-tis {
    font-size: 60px;
    font-family: 'Monoton', cursive;
    animation-name: xample;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 0px #fff, 0 0 8px #f00, 0 0 33px #f00, 0 0 10px #f09, 0 0 0px #f00, 0 0 2px #f00;
}

.logo-tis-game-list {
    margin-top: 5px;
}