<!-- Select Turn -->
<div *ngIf="showContent" style="background-image: url('assets/background/tictactoe-back.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;">
    <!-- back button -->
    <div>
        <a routerLink="/game-list" class="text-dark" style="position: relative; left: 5px; top: -1px; font-size: 20px;"><i class="fa fa-arrow-circle-o-left"></i></a>
    </div>
    <div style="color: black; ">
        <h1 class="text-center" style="font-family: 'Permanent Marker', cursive; font-size: 40px; ">Select Mode
        </h1>
    </div>
    <div class="selectmode text-center"><a class="text-light" routerLink="/tictactoe-pass-pass"> Pass nd Pass
        </a>
    </div>
    <div class="selectmode text-center"><a class="text-light" routerLink="/tictactoe-multiplayer"> Multi Player
    </a>
    </div>
    <div class="selectmode text-center"><a class="text-light" routerLink="/tictactoe-vs-computer"> Vs Computer
        </a>
    </div>
    <div style="color: black; ">
        <h1 class="text-center" style="font-family: 'Permanent Marker', cursive; font-size: 40px; margin-top: 40px;">Tic Tac Toe
        </h1>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>
</div>

<!-- Opening Page -->
<!-- LoGO -->
<div *ngIf="showTicTacToe" class="background-tis text-dark" style="background-image: url('assets/background/tictactoe-back.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;">

    <div class=" tis-opening text-center">
        <h1 class="logo-img-tis"><i class="fa fa-gamepad"></i> <br> Tic Tac Toe </h1>
    </div>

    <div class="txt-prog">
        <p><i> "Games don't make you violent, lag does." </i></p>
        <div class="progressBar mx-auto "></div>
        <br>
    </div>


    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>